.admin{
    display: flex;
    width: 75%;
    flex-direction: row;
    height: 80vh;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px;
    margin:auto;
    padding:20px;

}

.admin div{
    width:300px;
    height: 250px;
    display: flex;
}

.admin button{
    width: 100%;
}