.calendar-container{
    width: 100%;
    height:80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    color:white;
}

/* .calendar-container iframe{
    width: 30%;
    height: 75%;
    margin-bottom: 10px;
} */

.calendar-container p{
    align-self:start;
    margin:10px;
    text-transform: capitalize;
    font-size: 20px;
}
.calendar-container p:first-child{
    font-size:40px;
}